*{
    padding:0em;
    margin:0em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
* a{
	text-decoration:none;
}

* a:hover{
    text-decoration: underline;
}
    
html,
body{
    height: 100%;
}

#nome_utente
{
	padding-left:1em;
}

.messaggio-error{
    padding-top: 0.5em;
    color:  red;
    padding-bottom: 0.5em;
}
    .messaggio-error li{
        list-style: none;
        padding-bottom: 1em;
        
    }
    #titolo{
        margin-top: 1em;
        margin-bottom: 1em;
    }

.messaggio-confirm{
    display: block;
    padding-top: 1em;
    color: #295380;
    padding-bottom: 0.5em;
    text-align: center;
}
    .messaggio-confirm li{
        list-style: none;
        padding-bottom: 1em;
    }

    
#drawer-toggle{
    position: absolute;
    opacity: 0;
}
    
#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header,
#drawer-toggle:checked ~ #drawer,
#drawer-toggle:checked ~ #content,
#drawer-toggle-label{
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
    
#drawer-toggle-label{
    right: 0px;
    height: 50px;
    width: 50px;
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, .0);
    z-index: 1;
}
    
#drawer-toggle-label:before{
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #8d8d8d;
    right: 13px;
    top: 18px;
    box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d;
}
    
#drawer{
    position: fixed;
    top: 0;
    right: -75%;
    height: 100%;
    width: 75%;
    background: #295380;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}
    
#drawer li{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid;
    color: white;
}

#drawer li a{
	color: white;
}

#drawer li a:hover{
	text-decoration: underline;
}
 
 
#drawer-toggle:checked ~ #drawer-toggle-label{
    height: 100%;
    width: 25%;
    background: rgba(255,255,255,.8);
}
    
#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header{
    right: 75%;
}
    
#drawer-toggle:checked ~ #drawer{
    right: 0%;
}
    
#drawer-toggle:checked ~ #content{
    margin-right: 75%;
}
    
input:focus,
textarea:focus{
    outline: none;
}

input{
    overflow: hidden;
}

.skip{
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}

body
{
    font-size:100%;
    background-color: #FAFAFA;
}

.button {
    height: 3em;
    width: 30%;
    padding-bottom:0.1em;
    margin-bottom: 0.5em;
    margin-top: 1em;
    display: inline-block;
}

.inputLeft {
    display: inline-block;
    background-image: url(../images/input_left.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 2em;
    vertical-align: middle;
    margin-right: -0.3em;
}

.inputMiddle {
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/input_middle.png);
    width: 60%;
    background-size: contain;
    background-repeat: repeat-x;
}

.inputRight {
    display: inline-block;
    vertical-align: middle;
    background-image:url(../images/input_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2em;
    width: 12px;
}

.input{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 2em;
    font-size: 1em;
}

#header
{
    text-align: center;
    background-color:#295380;
    /*padding:0.5em;*/
    padding-top: 0.5em;
    height: 9.5em;
    z-index: 0;
}

#header-logo
{
    background-image:url(../images/logo.png);
    background-repeat:no-repeat;
    background-size: contain;
    display: block;
    width: 150px;
    height: 5em;
    margin: auto;
    
}

#header h1
{
    display: block;
    width: 100%;
    height: 2.7em;
    color: #FFFFFF;
    padding-top: 0.5em;
}

#menu {
    display: none;
    padding-bottom: 4em;
    
    
}

#searchBar{
    display:inline-block;
    width: 100%;
    height: 3em;
    background-color: #E1E3E4;
    
}

#searchContainer
{
	text-align: center;
    display:block;
}

#commonSearchInput{
    line-height: 300%;
    background-color: transparent;
    border: none;
    width: 93%;
    font-size: 1em;
    height: 2.5em;
    padding-right: 1.5em;
}

#commonSearchInputLeft{
    display: inline-block;
    background-image: url(../images/input_left.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 2.5em;
    width: 12px;
    margin-right: -0.1em;
}

#commonSearchInputMiddle{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/input_middle.png);
    background-size: contain;
    background-repeat: repeat-x;
    width: 80%;
}

#commonSearchInputRight{
    display: inline-block;
    background-image: url(../images/input_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 2.5em;
    width: 12px;
}

#commonSearchButtonContainer{
    display:inline;
}

#commonSearchButton{
    width: 10%;
    height: 2.5em;
    background-image: url(../images/ricerca.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    vertical-align: middle;
    margin-left: -4em;
}

#torna-su
{
    display: none;
}

#footer
{
    background-color: #E1E3E4;
    margin-top: 1.5em;
}

#footer-container
{
    display: block;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#footer-logo{
    display: none;
}

#footer-container li{
    list-style: none;
    padding-bottom:0.5em;
    padding-top: 0.5em;
}

#first-footer-block{
    display: block;
    text-align: center;
}

.footer-block
{
    display: none;
}

#last-footer-block{
    display: block;
    text-align: center;
}

#news_label_container {
    margin-bottom: 0.5em;
}

#news_label
{
    font-size: 1.3em;
    font-weight: bold;
}

#facebook-link {
    text-decoration: none;
}

#facebook-button{
    background-image: url(../images/facebook_link.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 21%;
    height: 3em;
    margin-left: 2em;
    margin-top: 0.8em;
}

#newsletter-input
{
    background-color: transparent;
    border: none;
    width: 97%;
    height: 2.3em;
    padding-left: 1em;
}

#newsletterInputMiddle{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/input_middle.png);
    width: 70%;
    height: 2em;
    background-size: contain;
    background-repeat: repeat-x;
}

#newsletter-buttonContainer{
    display: inline;
}

#newsletter-button
{
    width: 13%;
    height: 2em;
    background-image:url(../images/email.png);
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
    vertical-align: middle;
}


#newslettertemp-input
{
    background-color: transparent;
    border: none;
    width: 97%;
    height: 2.3em;
    padding-left: 1em;
}

#newslettertempInputMiddle{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/input_middle.png);
    width: 70%;
    height: 2em;
    background-size: contain;
    background-repeat: repeat-x;
}

#newslettertemp-buttonContainer{
    display: inline;
}

#newslettertemp-button
{
    width: 13%;
    height: 2em;
    background-image:url(../images/email.png);
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
    vertical-align: middle;
}




.generic-container{
    margin-top: 2em;
}

.form-container2{
    display: block;
    text-align: center;
    padding-bottom: 1em;
}

.form-container2 p{
    text-align: left;
    display: inline-block;
    padding-right: 2em;
}

.form-container2 h2{
    padding-top: 1em;
}
    
.form-container2 li{
    list-style: none;
}

.form-container2 label{
    text-align: left;
    display: inline-block;
    width: 20%;
}

#content h2{
    font-family: Georgia, serif;
    margin-bottom: 1em;
    text-align: center;
}

/*---------------------------------------------------index_temp.html ------------------------------------------------------------------------------*/

#categorie-vetrina
{
    min-height: 100%;
    width: 100%;
}

.riga_index
{
    display: block;
    width: 100%;
}

.riga_index span{
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    height: 10em;
	width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    background-color: white;
    box-shadow: 1px 1px 1px 1px #888888;
    background-color: #E1E3E4;
}

#listanozze
{
    background-image: url(../images/listanozze.jpg);
}

#porcellane
{
    background-image: url(../images/porcellane.jpg);
}

#lampade
{
    background-image:url(../images/lampade.jpg);
}

#pentole
{
    background-image:url(../images/pentole.jpg);
}

#tavola
{
    background-image:url(../images/tavola.jpg);
}

#tovaglie
{
	background-image: url(../images/tovaglie.jpg);
}
    
/*---------------------------------------------------login.html ------------------------------------------------------------------------------*/

.login-Block{
    padding-top: 1em;
}

.login-Block li{
    list-style: none;
    padding-bottom: 2em;
    
}

/*--------------------------- registrazione.html (unificato con gestione account e indirizzi)-----------------------------------------------------------------------------------------------*/

.form-Block{
    padding-top: 1em;
}

.form-Block li{
    list-style: none;
    padding-bottom: 0.5em;
}

/*-------------------------------------- la_nostra_storia.html --------------------------------------------------------------------------------*/





#la_nostra_storia-titolo{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

    #linea-tempo
    {
        display: inline-block;
        width: 99%;
        height: 2.7em;
        text-align: center;
        padding-bottom: 5em;
        margin-bottom: 1em;
    }


  #linea-tempo li
    {
        list-style: none;
        display: inline-block;
        transform:rotate(-20deg);
        text-decoration: none;
        background-color:#E1E3E4;
        margin-left: 1em;
        margin-right: 1em;
        padding: 0.5em;
        box-shadow: 1px 1px 1px 1px #888888;
    }

  
    .linea-tempo-su
    {
        width: 45%;
        background-color: #E1E3E4;
        margin-bottom: 3em;
        display: inline-block;
        padding-top:0.5em;
        padding-bottom:0.5em;   
        box-shadow: 1px 1px 1px #888888;  
    }



/*------------------- termini e spedizione/resi e rimborsi  -----------------------------------------------------------------------------------*/

   #resi_rimb_term_sped-h2{
        margin-top: 1em;
        text-align: center;
        padding-bottom: 1.5em;
        font-family: Georgia, serif;
    }
    
    .info-container
    {
        text-align: center;
        width: 80%;
        margin: auto;
    }

    .info-container h3
    {
        background-color: #295380;
        width: 100%;
        text-align: center;
        display: inline-block;
        margin-top: 1.5em;
        margin: auto;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        box-shadow: 1px 1px 1px 1px #888888;
        color: white;
    }

    .info-text
    {
        text-align: justify;
        padding: 1.5em;
        width: 100%;
        background-color:#E1E3E4; 
        display: inline-block;
        margin-bottom: 2em;
        box-shadow: 1px 1px 1px 1px #888888;
        word-wrap: break-word;
    }
    
    .info-text p{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }

/*---------------------------------------- prodotti.html --------------------------------------------------------------------------------------*/

#prodotti-categorie
{
    background-color: #E1E3E4;
    min-height: 2em;
    text-align: center;
    line-height: 180%;
    margin: 1em;   
}

#prodotti-categorie li
{
    list-style: none;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

#prodotti-vetrina
{
    background-color: #E1E3E4;
    min-height: 20em;
    width: 100%;
}

#prodotti-pageSelector
{
    background-color: chartreuse;
    height: 2.5em;
    width: 100%;
    text-align: center;
    line-height: 210%;
    margin-top: 1em;
}

#prodotti-frecciaPaginaPrecedente 
{
    display: inline-block;
    width: 5%;
    height: 2em;
    vertical-align: middle;
    background-image: url(../images/leftArrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#prodotti-paginaPrecedente 
{
    display: inline-block;
    width: 20%;
    height: 2em;
    vertical-align: middle;
}

#prodotti-paginaNumeri
{
    display: inline-block;
    width: 30%;
    height: 2em;
    vertical-align: middle;
}

#prodotti-pageSelector li
{
    list-style: none;
    display: inline;
}

#prodotti-paginaSuccessiva 
{
    display: inline-block;
    width: 20%;
    height: 2em;
    vertical-align: middle;
}

#prodotti-frecciaPaginaSuccessiva {
    display: inline-block;
    width: 5%;
    height: 2em;
    vertical-align: middle;
    background-image: url(../images/rightArrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#prodotti-resultInfoBar {
    display:block;
    padding-bottom: 0.5em;
    text-align: right;
    padding-top: 1em;
}

#prodotti-searchSortBlock 
{
    display: inline-block;
    width: 77.61%;
    height: 2.5em;
    vertical-align: middle;
    line-height: 250%;
    text-align: right;
}

#prodotti-searchSortForm 
{
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

#prodotti-searchSortFormLabel 
{
    display: inline;
    padding-right: 0.3em;
}

#prodotti-searchSortFormSelect {
    display: inline;
}

.riga 
{
	padding: 0.3em;
	background-color: #E1E3E4;
}


.prodotto-singolo 
{
	height: 13em;
	vertical-align: middle;
	background-color: white;
	padding: 1em;
	text-align: center;
	margin-bottom: 0.5em;
  	box-shadow: 1px 1px 1px 1px #888888;
}

.nome-prodotto a 
{
	font-size: 200%;
	font-weight: bold;
}

.prezzo-prodotto a 
{
	font-size: 150%;
	font-weight: bold;
}
	
.prodotto-singolo ul 
{
	list-style-type: none;
}

.prodotto-singolo img 
{
	max-height: 7em;
	max-width: 100%;
}

/*--------------------------------Carrello---------------------------------------------------------------------------------------------------------*/
.input-carrello{
    display: inline-block;
    vertical-align: middle;
    background-image: url(../images/input_middle.png);
    width: 4%;
    background-size: contain;
    background-repeat: repeat-x;
    
}
.carrello-prodottoh3{
    padding-right: 3em; 
}
.carrello-quantitaLabel{
    padding-right: 5.5em;
}
.carrello-quantitaTogliLabel{
    padding-right: 1.5em;
    padding-left: 2em;
}

.carrello-prodottoTogliLabel{
    padding-right: 0.5em;
    padding-left: 3em;
}

.carrello_left_col{
    display: inline-block;
    vertical-align: middle;
  	width: 25%;
 	height: 10em;
    margin-bottom: 1em;
    
}
.carrello_left_col img {
	max-height: 7em;
	max-width: 100%;
  	box-shadow: 1px 1px 1px 1px #888888;	
    vertical-align: middle;
    margin-top: 1em;
}
.carrello_right_col{
    display: inline-block;
   	vertical-align: middle;
   	width: 60%;
   	height: 10em;
	background-color:#E1E3E4;
	padding: 0.5em;
	margin-left: 0.1em;
    margin-bottom: 1em;
}
#acquisto-indirizzoLabel{
    padding-right: 1em;
}

/*------------------------------------------------------- ANNUNCI ---------------------------------------------------------------------*/
.immagine_annuncio{
    text-align: center;
    margin-top: 2em;
}

.immagine_annuncio img 
{
    max-width: 13em;
}

/*-------------------------------------------- MAPPA DEL SITO ------------------------------------------------------------------------*/
    
    #sitemap-container{
        display: block;
        width: 90%;
        text-align: center;
        margin-bottom: 5em;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        height: 75em;
        box-shadow: 1px 1px 1px 1px #888888;
        background-color: #E1E3E4;
    }
    
    #sitemap-container h2{
        padding-top: 1em;
    }
    
    #home-block{
        display: block;
        margin: auto;
        width: 80%;
        height: 3em;
        background-color: white;
        box-shadow: 1px 1px 1px 1px #888888;    
    }
    
    #home-block a{
        font-size: 1.8em;
        line-height: 1.6em;
    }
    
    #sitemap-block-container{
        margin-top: 1em;
}
    
    .sitemap-block{
        padding-top: 1em;
        margin-top: 2em;
        margin-right: auto;
        margin-left: auto;
        display: block;
        width: 80%;
        height: 14em;
        background-color: white;
        box-shadow: 1px 1px 1px 1px #888888;
        vertical-align: middle;
    }
    
    .sitemap-block li{
        list-style: none;
        padding-top: 1em;
    }