@media screen and (min-width: 806px)
{   
    .button {
        width: 20%;  
    }
    
    .inputMiddle {
        width: 30%;
    }
    
    #menu-drawer{
        display: none;
    }
    
    #header-logo
    {
        display: inline-block;
        width: 15%;
        height: 5em;
    }

    #header h1
    {
        display: inline-block;
	   /*height: 0.5em;*/
        width: 79%;
        margin-bottom: 1.5em;
    }

    #menu
    {
        width: 100%;
        display: block;
        padding-top: 1em;
        padding-bottom: 0.2em;
        background-color: #E1E3E4;
        border-top:0.1em;
    }

    #path
    {
        display: inline-block;
        height: 1em;
        width: 24%;   
        padding-left: 1em;
    }
    
    #content
    {
        display: block;
        text-align: center;
        padding-bottom: 2em;
        min-height: 100%;
    }
    #nav
    {
        display: inline-block;
        height: 2em;
        width: 75%;
        text-align: right;
    }
    
    #nav li
    {
        list-style: none;
        display: inline;
        padding-right: 1em;
        border-color:#15164B;
        padding-left:1em;
        text-align: center;
    }
    
    #nav li a
    {
	text-decoration: none;
    }

    #nav li a:hover
    {
	text-decoration: underline;
    }
    
    .current
    {
        padding:1em;
        background-color: #295380;
        color: white;
    }
    #torna-su
    {
        text-align: center;
        padding-bottom:0.5em;
        padding-top: 0.5em;
        border-bottom: 2px solid;
        border-bottom-color: aliceblue;
        display: inline-block;
        width: 100%;
	text-decoration: none;
    }

    #torna-su:hover 
    {
	text-decoration: underline;
    }

    #footer-logo{
        display: inline-block;
        width: 70%;
        height: 7em;
        background-image: url(../images/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #first-footer-block{
        display: inline-block;
        width: 20%;
        padding-right: 3em;
    }

    .footer-block
    {
        display: inline-block;
        width: 20%;
        padding-right: 3.5em;
        padding-left: 2em;
    }

    #last-footer-block{
        display: inline-block;
        width: 30%;
        position: relative;
    }

    #searchBar{
        padding-bottom: 3.2em;
		padding-top: 0em;
    }

    #searchContainer
    {
        text-align: right;
        padding-right: 1em;
        padding-bottom: 1em;
    }

    #commonSearchInput{
        height: 3em;
        margin-right: 2.5em;
		padding-right: 0em;
    }

    #commonSearchInputLeft{
        height: 3em;
        width: 12px;
		margin-right:0em;
    }

    #commonSearchInputMiddle{
        width: 45%;
    }

    #commonSearchInputRight{
        height: 3em;
        width: 12px;
    }

    #commonSearchButton{
        width: 3%;
        height: 3em;
    }
    
    .form-container2{
        margin-top: 1em;
        width: 60%;
        margin-left: auto;
        margin-right: auto;
        background-color: #E1E3E4;
        box-shadow: 1px 1px 1px 1px #888888; 
        margin-bottom: 1em;
    }
    
    .form-container2 label{
        width: 17%;
    }
    
    #right-col label{
        width: 22%;
    }
    
    

    /*-------------------------------------- la_nostra_storia.html desktop --------------------------------------------------------------------------------*/
    #linea-tempo
    {
        padding-bottom: 1em;
    }

    /*---------------------------------------- prodotti.html --------------------------------------------------------------------------------------*/

    

    #prodotti-categorie{
        display: inline-block;
        background-color: #E1E3E4;
        height: 2em;
        text-align: center;
        line-height: 200%;
        margin: 1em;
    }

    #prodotti-categorie li{
        display: inline;
        list-style: none;
        padding-left: 0.75em;
	padding-right: 0.75em;
    }

    #prodotti-categorie a{
        text-decoration: none;
    }

    #prodotti-categorie a:hover{
        text-decoration: underline;
    }

    .categoria_attiva
    {
        background-color: #295380;
        color: white;
	padding: 0.4em;
    }

    #prodotti-vetrina{
        background-color: #E1E3E4;
        min-height: 20em;
        width: 100%;
    }

    #prodotti-pageSelector{
        background-color: #E1E3E4;
        display: inline-block;
        height: 2.5em;
        width: 78%;
        text-align: center;
        line-height: 220%;
	margin-top: 1em;
    }

    #prodotti-frecciaPaginaPrecedente {
        display: inline-block;
        width: 5%;
        height: 2em;
        vertical-align: middle;
        background-image: url(../images/leftArrow.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #prodotti-paginaPrecedente {
        display: inline-block;
        width: 20%;
        height: 2em;
        vertical-align: middle;
    }

    #prodotti-paginaNumeri{
        display: inline-block;
        width: 30%;
        height: 2em;
        vertical-align: middle;
    }

    .pagina_attiva
    {
        background-color: #295380;
        color: white;
	padding: 0.65em;
    }

    #prodotti-pageSelector li{
        list-style: none;
        display: inline;
	padding-left: 0.5em;
	padding-right: 0.5em;
    }

    #prodotti-pageSelector a{
        text-decoration: none;
    }

    #prodotti-paginaSuccessiva {
        display: inline-block;
        width: 20%;
        height: 2em;
        vertical-align: middle;
    }

    #prodotti-frecciaPaginaSuccessiva {
        display: inline-block;
        width: 5%;
        height: 2em;
        vertical-align: middle;
        background-image: url(../images/rightArrow.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #prodotti-resultInfoBar {
        display:block;
        padding-bottom: 0.5em;
        text-align: right;
        
    }

    #prodotti-searchSortBlock {
        display: inline-block;
        width: 77.61%;
        height: 2.5em;
        vertical-align: middle;
        line-height: 250%;
        text-align: right;
    }

    #prodotti-searchSortForm {
        padding-right: 0.5em;
        padding-bottom: 0.5em;
    }

    #prodotti-searchSortFormLabel {
        display: inline;
        padding-right: 0.3em;
    }

    #prodotti-searchSortFormSelect {
        display: inline;
    }
	
    .riga {
	width: 100%;
	height: 15em;
	padding: 0.3em;
	background-color: #E1E3E4;
    }


    .prodotto-singolo {
	display: inline-block;
	width: 25%;
	height: 13em;
	vertical-align: middle;
	background-color: #E1E3E4;
	padding: 1em;
	text-align: center;
	margin-right: 0.825em;
	margin-left: 0.825em;
	margin-top: 0.6em;
	background-color: white;
  	box-shadow: 1px 1px 1px 1px #888888;
    }

    .prodotto-singolo ul {
	list-style-type: none;
    }

    .prodotto-singolo a {
        text-decoration: none;
    }

    .prodotto-singolo a:hover {
        text-decoration: underline;
    }

    .prodotto-singolo p {
	font-size: 200%;
	font-weight: bold;
    }
	
	
    .prodotto-singolo img {
	max-height: 7em;
	max-width: 100%;
     }


/*---------------------------------------- prodotto.html --------------------------------------------------------------------------------------*/
	
	#link_pagina_precedente{
		
	}
	
	#link_pagina_precedente a{
		text-decoration: none;
	}

	#link_pagina_precedente a:hover{
		text-decoration: underline;
	}
	
	#Prodotto_main_container{
		display: inline-block;
        vertical-align: middle;
        width: 100%;
		padding: 1em;
  		min-height: 55em;
	}
	
	#Presentazione_prodotto{
        vertical-align: middle;
        width: 100%;
        border-bottom: 1px solid;
		padding: 1em;
  	    height: 30em;		
	}
	
	#left_col{
		display: inline-block;
        vertical-align: middle;
  	    width: 35%;
 	    height: 20em;
	}
	
	#left_col img {
		max-height: 20em;
		max-width: auto;
  	    box-shadow: 1px 1px 1px 1px #888888;		
	}

	#middle_col{
		display: inline-block;
 		vertical-align: middle;
		width: 40%;
  	    height: 20em;
		background-color:#E1E3E4;
		padding: 0.5em;
  	    box-shadow: 1px 1px 1px 1px #888888;
	}

	#middle_col li {
		list-style:none;
		padding-bottom: 0.2em;
	}
	
	#right_col{
		display: inline-block;
   	    vertical-align: middle;
   	    width: 22%;
   	    height: 20em;
		background-color:#E1E3E4;
		padding: 0.5em;
		box-shadow: 1px 1px 1px 1px #888888;
		margin-left: 0.1em;
	}
	
	#right_col li {
		list-style:none;
		padding-bottom: 0.2em;
	}

	#right_col input[type=submit]{
		background-color:orange;
		border: none;
		padding: 0.5em;
		margin: 0.1em;
		cursor: pointer;
		box-shadow: 1px 1px 1px 1px #888888;
	}
	
	#Commenti_prodotto{
 	    vertical-align: middle;
     	width: 100%;
		padding: 1em;
      	min-height: 20em;		
	}

	#Commenti_prodotto li {
		list-style: none;
		padding-bottom: 0.2em;	
	}
	
	#commenti_prodotto h2 {
		color: white;
		background-color: #295380; 
	}	
	
	.recensione-prodotto {
		padding: 0.5em;
		background-color:#E1E3E4;
		margin-bottom: 0.5em;
  	    box-shadow: 1px 1px 1px 1px #888888; 
	}

	.recensione-prodotto h2 {
		color: white;
		background-color: #295380; 
	}	

	.recensione-prodotto input[type=submit]{
		background-color:#295380;
		color: white;
		border: none;
		padding: 0.3em;
		margin: 0.1em;
		cursor: pointer;
		box-shadow: 1px 1px 1px 1px #888888;
	}

	.recensione-prodotto span{
		color:white;
	}

	#recensioneTitolo-label {
		padding-right: 6.05em;
	}

	#recensioneNome-label {
		padding-right: 1em;
	}
   
    /*------------------------------- login.html --------------------------------------------------------------------------------------------------*/

    #login-Block{
        padding-top: 0.3em;
    }    

    /*------------------- termini e spedizione/resi e rimborsi  -----------------------------------------------------------------------------------*/
        
    #info-container
    {
        text-align: center;
        width: 45%;
        margin: auto;
    }


     /*------------------- account  -----------------------------------------------------------------------------------*/
    #col
    {
        width: 100%;
        
    }
    #left-col
    {
		display: inline-block;
        vertical-align: middle;
        width: 24.5%;
        border-bottom: 1px solid;
        height: 55em;
    }
    #left-col li
    {
         list-style: none;
         
    }
    #left-col ul
    {
        padding-top: 2em;
        padding-left: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid;
        width: 100%;
    }
    
    #left-col a
    {
        text-decoration: none;
    }
    
    #right-col
    {
		display: inline-block;
        vertical-align: middle;
        width: 75.5%;
        border-bottom: 1px solid;
        border-left: 1px solid;
        height: 55em;
        overflow-y: scroll;
        padding-top: 2em;
    }
    #right-col li
    {
         list-style: none;
    }
    
    .title_link
    {
        font-weight: bold;
        font-size: 1.5em;        
    }
    
    
    .subtitle_link
    {
        opacity: 0.6;
    }

/*------------------------------------------------ gestione sito ----------------------------------------------------------------------------------*/

    .button-utente{
        display:  inline-block;
        margin-bottom: 2em;
        height: 2.5em;
        width: 12%;
        
    }
    
    .sub_menu_block{
        display: inline-block;
        height: 3em;
        width: 20%;
        text-align: center;
        border-right: 1px solid;
        border-bottom: 1px solid;
        background-color: #E1E3E4;
        border-top: 1px solid;
        border-color: black;
        vertical-align: middle;
        border-left: 1px solid;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    
    .sub_menu_block_active
    {
        display: inline-block;
        height: 3em;
        width: 20%;
        text-align: center;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        background-color: #295380;
        border-color: black;
        vertical-align: middle;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    
    .sub_menu_text{
        display: inline-block;
        vertical-align: middle;
        margin-top: 0.5em;
    }
    .sub_menu_text_active
    {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0.5em;
        color: white;
    }
    
    .gestione_textarea{
        width: 60%;
        height: 10em;
    }
    .gestione-inputMiddle{
        display: inline-block;
        vertical-align: middle;
        background-image: url(../images/input_middle.png);
        width: 30%;
        background-size: contain;
        background-repeat: repeat-x;
    }
    
    #gestione-center{
        display:inline-block;
    }
    #gestione-textarea_block{
        padding-top: 2em;
    }
    
    #sub_menu{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    #prodotto-cat{
        margin-bottom: 2em;
    }
    #prodotto-cod{
        padding-top: 1em;
    }
    #form-containerprodotto{
        margin-top: 1em;
        width: 80%;
        margin: 0 auto;
        background-color: #E1E3E4;
        height: auto;
        box-shadow: 1px 1px 1px 1px #888888; 
        margin-bottom: 1em;
        
    }
    #ordini-cerca{
       padding-bottom: 1em;    
    }
    .ordini-block{
        padding-bottom:1em; 
    }
    #annunci-testoLabel{
        padding-right: 19em;
    }
    #left-menu-active{
        background-color: #295380;
        vertical-align: middle;
        color: white;
        padding-right: 0.5em;
    }

/*-------------------------------------------- MAPPA DEL SITO ------------------------------------------------------------------------*/
    
    #sitemap-container{
        display: block;
        width: 80%;
        text-align: center;
        margin-bottom: 5em;
        margin-top: 2em;
        margin-left: auto;
        margin-right: auto;
        height: 27em;
        box-shadow: 1px 1px 1px 1px #888888;
        background-color: #E1E3E4;
    }
    
    #sitemap-container h2{
        padding-top: 1em;
    }
    
    #home-block{
        display: inline-block;
        width: 20%;
        height: 3em;
        background-color: white;
        box-shadow: 1px 1px 1px 1px #888888;    
    }
    
    #home-block a{
        font-size: 1.8em;
        line-height: 1.6em;
        text-decoration: none;
    }
    
    .sitemap-block{
        margin-top: 2em;
        padding-top: 1em;
        margin-right: 2em;
        display: inline-block;
        width: 20%;
        height: 14em;
        background-color: white;
        box-shadow: 1px 1px 1px 1px #888888;
        vertical-align: middle;
    }
    
    .sitemap-block li{
        list-style: none;
        padding-top: 1em;
    }
    
    .sitemap-block a{
        text-decoration: none;
    }
