*{
    padding:0em;
    margin:0em;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
}
    
html,
body{
    height: 100%;
}
    
#drawer-toggle{
    position: absolute;
    opacity: 0;
}
    
#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header,
#drawer-toggle:checked ~ #drawer,
#drawer-toggle:checked ~ #content,
#drawer-toggle-label{
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
    
#drawer-toggle-label{
    right: 0px;
    height: 50px;
    width: 50px;
    display: block;
    position: fixed;
    background: rgba(255, 255, 255, .0);
    z-index: 1;
}
    
#drawer-toggle-label:before{
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 24px;
    background: #8d8d8d;
    right: 13px;
    top: 18px;
    box-shadow: 0 6px 0 #8d8d8d, 0 12px 0 #8d8d8d;
}
    
#drawer{
    position: fixed;
    top: 0;
    right: -75%;
    height: 100%;
    width: 75%;
    background: #295380;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    z-index: 1;
}
    
#drawer li{
    padding-top: 2em;
    padding-bottom: 2em;
    text-align: center;
    list-style: none;
    width: 100%;
    border-bottom: 1px solid;
    color: white;
}

#drawer li a{
	color: white;
}
    
#drawer-toggle:checked ~ #drawer-toggle-label{
    height: 100%;
    width: 25%;
    background: rgba(255,255,255,.8);
}
    
#drawer-toggle:checked ~ #drawer-toggle-label,
#drawer-toggle:checked ~ header{
    right: 75%;
}
    
#drawer-toggle:checked ~ #drawer{
    right: 0%;
}
    
#drawer-toggle:checked ~ #content{
    margin-right: 75%;
}
    
input:focus,
textarea:focus{
    outline: none;
}

input{
    overflow: hidden;
}

.skip{
    position: absolute;
    top: -1000px;
    left: -1000px;
    height: 1px;
    width: 1px;
    text-align: left;
    overflow: hidden;
}

a.skip:active,
a.skip:focus,
a.skip:hover {
    left: 0;
    top: 0;
    width: auto;
    height: auto;
    overflow: visible;
}

body
{
    font-size:100%;
    background-color: #FAFAFA;
}

.button {
    height: 3em;
    width: 20%;
    padding-bottom:0.5em;
    margin-bottom: 0.5em;
}

.inputLeft {
    display: inline-block;
    background-image: url(images/input_left.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 12px;
    height: 2em;
    vertical-align: middle;
    margin-right: -0.3em;
}

.inputMiddle {
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/input_middle.png);
    width: 40%;
    background-size: contain;
    background-repeat: repeat-x;
}

.inputRight {
    display: inline-block;
    vertical-align: middle;
    background-image:url(images/input_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2em;
    width: 12px;
}

.input{
    background-color: transparent;
    border: none;
    width: 100%;
    height: 2em;
    font-size: 1em;
}

#header
{
    text-align: center;
    background-color:#295380;
    padding:0.5em;
    z-index: 0;
}

#header-logo
{
    background-image:url(images/logo.png);
    background-repeat:no-repeat;
    background-size: contain;
    display: block;
    width: 40%;
    height: 5em;
    margin: auto;
}

#header h1
{
    display: block;
    width: 100%;
    height: 2.7em;
    color: #FFFFFF;
    padding-top: 0.5em;
}

#menu {
    display: none;
    display: inline-block;
    padding-bottom:4em;
    
    
}

#searchBar{
    display:inline-block;
    width: 100%;
    height: 3em;
    background-color: #E1E3E4;
    
}

#searchContainer
{
	text-align: center;
    display:block;
}

#commonSearchInput{
    line-height: 300%;
    background-color: transparent;
    border: none;
    width: 93%;
    font-size: 1em;
    height: 2.5em;
    padding-right: 1.5em;
}

#commonSearchInputLeft{
    display: inline-block;
    background-image: url(images/input_left.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 2.5em;
    width: 12px;
    margin-right: -0.1em;
}

#commonSearchInputMiddle{
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/input_middle.png);
    background-size: contain;
    background-repeat: repeat-x;
    width: 80%;
}

#commonSearchInputRight{
    display: inline-block;
    background-image: url(images/input_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    height: 2.5em;
    width: 12px;
}

#commonSearchButtonContainer{
    display:inline;
}

#commonSearchButton{
    width: 10%;
    height: 2.5em;
    background-image: url(images/ricerca.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    vertical-align: middle;
    margin-left: -4em;
}

#torna-su
{
    display: none;
}

#footer
{
    background-color: #E1E3E4;
    margin-top: 1.5em;
}

#footer-container
{
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-top: 0.5em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#footer-logo{
    display: none;
}

#footer-container li{
    list-style: none;
    padding-bottom:0.5em;
    padding-top: 0.5em;
}

#footer-container a{
    text-decoration: none;
}

#footer-container a:hover{
    text-decoration: underline;
}

#first-footer-block{
    display: block;
    text-align: center;
}

.footer-block
{
    display: none;
}

#last-footer-block{
    display: block;
    text-align: center;
}

#facebook-link {
    text-decoration: none;
}

#facebook-button{
    background-image: url(images/facebook_link.png);
    display: inline-block;
    background-repeat: no-repeat;
    background-size: contain;
    width: 21%;
    height: 3em;
    margin-left: 2em;
    margin-top: 0.8em;
}

#newsletter-input
{
    background-color: transparent;
    border: none;
    width: 97%;
    height: 2.3em;
    padding-left: 1em;
}

#newsletterInputMiddle{
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/input_middle.png);
    width: 70%;
    height: 2em;
    background-size: contain;
    background-repeat: repeat-x;
}

#newsletter-buttonContainer{
    display: inline;
}

#newsletter-button
{
    width: 13%;
    height: 2em;
    background-image:url(images/email.png);
    background-repeat:no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
    vertical-align: middle;
}


/*---------------------------------------------------index_temp.html ------------------------------------------------------------------------------*/



#listanozze
    {
        background-image:url(images/listanozze.jpg);
        background-repeat:no-repeat;
        background-size: contain;
        padding-top:3%;
        width: 50%;
        height: 20em;
	    display:inline-block;
        text-align: center;
	    margin-left: 1em;
        margin-top: 2em;
    }

#porcellane
    {
	
        background-image:url(images/porcellane.jpg);
        background-repeat:no-repeat;
        background-size: contain;
        padding-top:3%;
        width: 50%;
        height: 20em;
	    display:inline-block;
        text-align: center;
	    margin-left: 1em;
        margin-top: 1em;
    }

#lampade
    {
	
        background-image:url(images/lampade.jpg);
        background-repeat:no-repeat;
        background-size: contain;
        padding-top:3%;
        width: 50%;
        height: 20em;
	    display:inline-block;
        text-align: center;
	    margin-left: 1em;
         margin-top: 1em;
    }

#pentole
    {
	
        background-image:url(images/pentole.jpg);
        background-repeat:no-repeat;
        background-size: contain;
        padding-top:3%;
        width: 50%;
        height: 20em;
	    display:inline-block;
        text-align: center;
	    margin-left: 1em;
         margin-top: 1em;
    }
#tavola
    {
	
        background-image:url(images/tavola.jpg);
        background-repeat:no-repeat;
        background-size: contain;
        padding-top:3%;
        width: 50%;
        height: 20em;
	    display:inline-block;
        text-align: center;
	    margin-left: 1em;
         margin-top: 1em;
    }
#tovaglie
    {
	
        background-image:url(images/tovaglie.jpg);
        background-repeat:no-repeat;
        background-size: contain;
        padding-top:3%;
        width: 50%;
        height: 20em;
	    display:inline-block;
        text-align: center;
	    margin-left: 1em;
         margin-top: 1em;
    }
/*---------------------------------------------------login.html ------------------------------------------------------------------------------*/

#login-container {
    display: none;
}

#login-container-mobile{
    display: block;
    text-align: center;
}

#login-container-mobile h2{
    padding-bottom: 1em;
    padding-top: 1em;
}

.login-Block{
    padding-top: 1em;
}

.login-Block li{
    list-style: none;
    padding-bottom: 2em;
}

.login-emailLabel{
    padding-right: 1.9em;
}

.login-passwordLabel{
    padding-right: 0.5em;
}

/*--------------------------- registrazione.html (unificato con gestione account e indirizzi)-----------------------------------------------------------------------------------------------*/

#registrazione-container-mobile{
    display: block;
    text-align: center;
}

#registrazione-container{
    display: none;
}

#registrazione-container-mobile h2{
    padding-bottom: 1em;
    padding-top: 1em;
}

.form-Block{
    padding-top: 1em;
}

.form-Block li{
    list-style: none;
    padding-bottom: 2em;   
}

.account-nomeLabel{
    padding-right: 6.3em;
}

.account-cognomeLabel{
    padding-right: 4.9em;
}
.account-telefonoLabel{
    padding-right: 5.2em;
}
.account-passwordCorrenteLabel{
    padding-right: 1.8em;
}
.account-passwordNuovaLabel{
    padding-right: 2.3em;
}
.account-emailLabel{
    padding-right: 6.35em;
}

.account-passwordLabel{
    padding-right: 4.9em;
}

.account-confermapasswordLabel{
    padding-right: 0.8em;
}

/*--------------------------- contattaci.html ----------------------------------------------------------------------------------------------------*/
    
#contattaci-container-mobile{
    display: block;
    text-align: center;
}
    
#contattaci-container {
    display: none;
}

#contattaci-container-mobile h2{
    padding-top: 1em;
    padding-bottom: 1em;
}

.contattaci-Block li {
    list-style: none;
    padding-bottom: 2em;
}

.contattaci-Block-li{
    padding-bottom: 2em;
}

.contattaci-messaggioLabelBlock{
    text-align: left;
    padding-left: 3.2em;
    padding-bottom: 0.5em;
}

.contattaci-messaggioTextArea {
    width: 80%;
    height: 10em;
}

.contattaci-nomeLabel {
    padding-right: 2.3em;
}

.contattaci-cognomeLabel {
    padding-right: 0.7em;
}

.contattaci-emailLabel {
    padding-right: 2.2em;
}

.contattaci-telefonoLabel {
    padding-right: 1em;
}

/*-------------------------------------- la_nostra_storia.html --------------------------------------------------------------------------------*/

#content h2{
    font-family: Georgia, serif;
    margin-bottom: 1em;
}

#la_nostra_storia-titolo{
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1.5em;
}

#linea-tempo li
{
    list-style: none;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    transform:rotate(-20deg);
    text-decoration: none;
    background-color:#295380;
    margin-left: 1em;
    margin-right: 1em;
    padding:0.5em;
}

#linea-tempo
{
    display: inline-block;
    width: 99%;
    height: 2.7em;
    text-align: center;
    padding-bottom: 4em;
}


#linea-tempo a
{
    text-decoration: none;
}

#linea-tempo-testo h3
{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 1em;
    background-color: #E1E3E4;
    font-family: Georgia, serif;
}


.linea-tempo-su
{
    width: 45%;
    background-color: #E1E3E4;
    margin-bottom: 3em;
    display: inline-block;
    padding-top:0.5em;
    padding-bottom:0.5em;
}

.linea-tempo-su a
{
    text-decoration: none;
}

/*------------------- termini e spedizione/resi e rimborsi  -----------------------------------------------------------------------------------*/

#resi_rimb_term_sped-h2{
    margin-top: 1em;
    text-align: center;
}

#info-container
{
    text-align: center;
    width: 90%;
    margin: auto;
}

#info-container h3
{
    background-color: #FFFFFF;
    width: 90%;
    text-align: center;
    display: inline-block;
    margin-top: 1.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.info-text
{
    text-align: justify;
    padding: 1.5em;
    width: 90%;
    background-color:#295380; 
    display: inline-block;
    margin-bottom: 2em;
}

/*---------------------------------------- prodotti.html --------------------------------------------------------------------------------------*/

#prodotti-categorie
{
    background-color: #E1E3E4;
    min-height: 2em;
    text-align: center;
    line-height: 180%;
    margin: 1em;   
}

#prodotti-categorie li
{
    list-style: none;
    padding-left: 0.75em;
    padding-right: 0.75em;
}

#prodotti-categorie a
{
    text-decoration: none;
}

#prodotti-vetrina
{
    background-color: white;
    min-height: 20em;
    width: 100%;
}

#prodotti-pageSelector
{
    background-color: chartreuse;
    height: 2.5em;
    width: 100%;
    text-align: center;
    line-height: 210%;
}

#prodotti-frecciaPaginaPrecedente 
{
    display: inline-block;
    width: 5%;
    height: 2em;
    vertical-align: middle;
    background-image: url(images/leftArrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#prodotti-paginaPrecedente 
{
    display: inline-block;
    width: 20%;
    height: 2em;
    vertical-align: middle;
}

#prodotti-paginaNumeri
{
    display: inline-block;
    width: 30%;
    height: 2em;
    vertical-align: middle;
}

#prodotti-pageSelector li
{
    list-style: none;
    display: inline;
}

#prodotti-pageSelector a
{
    text-decoration: none;
}

#prodotti-paginaSuccessiva 
{
    display: inline-block;
    width: 20%;
    height: 2em;
    vertical-align: middle;
}

#prodotti-frecciaPaginaSuccessiva {
    display: inline-block;
    width: 5%;
    height: 2em;
    vertical-align: middle;
    background-image: url(images/rightArrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#prodotti-resultInfoBar {
    display:block;
    padding-bottom: 0.5em;
    text-align: right;
    padding-top: 1em;
}

#prodotti-searchSortBlock 
{
    display: inline-block;
    width: 77.61%;
    height: 2.5em;
    vertical-align: middle;
    line-height: 250%;
    text-align: right;
}

#prodotti-searchSortForm 
{
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

#prodotti-searchSortFormLabel 
{
    display: inline;
    padding-right: 0.3em;
}

#prodotti-searchSortFormSelect {
    display: inline;
}

.riga 
{
	padding: 0.3em;
	background-color: white;
}


.prodotto-singolo 
{
	height: 13em;
	vertical-align: middle;
	background-color: #E1E3E4;
	padding: 1em;
	text-align: center;
	margin-bottom: 0.5em;
}

.prodotto-singolo p 
{
	font-size: 200%;
	font-weight: bold;
}
	
.prodotto-singolo ul 
{
	list-style-type: none;
}

.prodotto-singolo img 
{
	max-height: 7em;
	max-width: 100%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 768px)
{

    #drawer{
        position: fixed;
        top: 0;
        right: -300px;
        height: 100%;
        width: 300px;
        background: #295380;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 1;
    }
    
    #drawer li{
        padding-top: 2em;
        padding-bottom: 2em;
        text-align: center;
        list-style: none;
        width: 100%;
        border-bottom: 1px solid;
	color: white;
    }
    
    #drawer-toggle:checked ~ #drawer-toggle-label{
        height: 100%;
        width: calc(100% - 300px);
        background: rgba(255,255,255,.8);
    }
    
    #drawer-toggle:checked ~ #drawer-toggle-label,
    #drawer-toggle:checked ~ header{
        right: 300px;
    }
    
    #drawer-toggle:checked ~ #drawer{
        right: 0px;
    }
    
    #drawer-toggle:checked ~ #content{
        margin-right: 300px;
    }

    .button {
        height: 3em;
        width: 20%;
    }

    .inputLeft {
        display: inline-block;
        background-image: url(images/input_left.png);
        background-size: contain;
        background-repeat: no-repeat;
        width: 12px;
        height: 2em;
        vertical-align: middle;
        margin-right: -0.3em;
    }

    .inputMiddle {
        display: inline-block;
        vertical-align: middle;
        background-image: url(images/input_middle.png);
        width: 40%;
        background-size: contain;
        background-repeat: repeat-x;
    }

    .inputRight {
        display: inline-block;
        vertical-align: middle;
        background-image:url(images/input_right.png);
        background-size: contain;
        background-repeat: no-repeat;
        height: 2em;
        width: 12px;
    }

    .input{
        background-color: transparent;
        border: none;
        width: 100%;
        height: 2em;
        font-size: 1em;
    }

    #header
    {
        text-align: center;
        background-color:#295380;
        padding:0.5em;
        z-index: 0;
    }

    #header-logo
    {
        background-image:url(images/logo.png);
        background-repeat:no-repeat;
        background-size: contain;
        display: inline-block;
        width: 15%;
        height: 8em;
    }

    #header h1
    {
        display: inline-block;
        width: 79%;
        height: 2.7em;
        vertical-align: middle;
        color: aliceblue;

    }

    #menu {
        display: none;
    }
}



/*-------------------------------------------------------------------------------------------------------------------------------------------------*/

@media screen and (min-width: 806px)
{   
    #menu-drawer{
        display: none;
    }
    
    #header-logo
    {
        display: inline-block;
        width: 15%;
        height: 5em;
    }

    #header h1
    {
        display: inline-block;
	height: 2,7em;
        width: 79%;
	padding-top: 0em;
    }

    #menu
    {
        width: 100%;
        display: block;
        padding-top :1em;
        padding-bottom: 0.2em;
        background-color: #E1E3E4;
        border-top:0.1em;
    }

    #path
    {
        display: inline-block;
        height: 1em;
        width: 24%;   
        padding-left: 1em;
    }
    
    #content
    {
        display: block;
        text-align: center;
        padding-bottom: 2em;
    }
    #nav
    {
        display: inline-block;
        height: 2em;
        width: 75%;
        text-align: right;
    }
    
    #nav li
    {
        list-style: none;
        display: inline;
        padding-right: 1em;
        border-color:#15164B;
        padding-left:1em;
        text-align: center;
    }
    
    #nav li a
    {
	text-decoration: none;
    }

    #nav li a:hover
    {
	text-decoration: underline;
    }
    
    .current
    {
        padding:1em;
        background-color: #295380;
        color: white;
    }
    #torna-su
    {
        text-align: center;
        padding-bottom:0.5em;
        padding-top: 0.5em;
        border-bottom: 2px solid;
        border-bottom-color: aliceblue;
        display: inline-block;
        width: 100%;
	text-decoration: none;
    }

    #torna-su:hover 
    {
	text-decoration: underline;
    }

    #footer-logo{
        display: inline-block;
        width: 70%;
        height: 7em;
        background-image: url(images/logo.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #first-footer-block{
        display: inline-block;
        width: 20%;
        padding-right: 3em;
    }

    .footer-block
    {
        display: inline-block;
        width: 20%;
        padding-right: 3.5em;
        padding-left: 2em;
    }

    #last-footer-block{
        display: inline-block;
        width: 30%;
        position: relative;
    }

    #searchBar{
        padding-bottom: 3.2em;
		padding-top: 0em;
    }

    #searchContainer
    {
        text-align: right;
        padding-right: 1em;
        padding-bottom: 1em;
    }

    #commonSearchInput{
        height: 3em;
        margin-right: 2.5em;
		padding-right: 0em;
    }

    #commonSearchInputLeft{
        height: 3em;
        width: 12px;
		margin-right:0em;
    }

    #commonSearchInputMiddle{
        width: 45%;
    }

    #commonSearchInputRight{
        height: 3em;
        width: 12px;
    }

    #commonSearchButton{
        width: 3%;
        height: 3em;
    }

    /*-------------------------------------- la_nostra_storia.html desktop --------------------------------------------------------------------------------*/

    #linea-tempo li
    {
        list-style: none;
        display: inline-block;
        padding-left: 1em;
        padding-right: 1em;
        transform:rotate(-20deg);
        text-decoration: none;
        background-color:#295380;
        margin-left: 1em;
        margin-right: 1em;
        padding:0.5em;
        color: white;
        box-shadow: 1px 1px 1px 1px #888888;

    }
    
    #linea-tempo
    {
        display: inline-block;
        width: 99%;
        height: 2.7em;
        text-align: center;
    }

    #linea-tempo-testo
    {
        text-align: center;
        margin: auto;
        padding-top: 4em;
        padding-bottom: 2em;
        width: 45%;    
    }

    .linea-tempo-testo-li
    {
        padding-bottom: 1em;
        margin-bottom: 1em;
        list-style: none;
        background-color: #E1E3E4;
        box-shadow: 1px 1px 1px 1px #888888;

    }

    #linea-tempo a
    {
        text-decoration: none;
        color: white;
    }

    #linea-tempo-testo h3
    {
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        margin-bottom: 1em;
        background-color: #295380;
        font-family: Georgia, serif;
        color: white;
    }

    #linea-tempo-testo p
    {
        padding-left: 1em;
        padding-right: 1em;
    }

    #linea-tempo-testo a
    {
        text-decoration: none;
    }

    .linea-tempo-su
    {
        width: 45%;
        background-color: #295380;
        margin-bottom: 3em;
        display: inline-block;
        padding-top:0.5em;
        padding-bottom:0.5em;   
        box-shadow: 1px 1px 1px #888888;  
    }

    .linea-tempo-su a
    {
        text-decoration: none;
        color: white;
    }

    /*---------------------------------------- prodotti.html --------------------------------------------------------------------------------------*/

    

    #prodotti-categorie{
        display: inline-block;
        background-color: #E1E3E4;
        height: 2em;
        text-align: center;
        line-height: 200%;
        margin: 1em;
    }

    #prodotti-categorie li{
        display: inline;
        list-style: none;
        padding-left: 0.75em;
	padding-right: 0.75em;
    }

    #prodotti-categorie a{
        text-decoration: none;
    }

    #prodotti-categorie a:hover{
        text-decoration: underline;
    }

    .categoria_attiva
    {
        background-color: #295380;
        color: white;
	padding: 0.4em;
    }

    #prodotti-vetrina{
        background-color: white;
        min-height: 20em;
        width: 100%;
    }

    #prodotti-pageSelector{
        background-color: #E1E3E4;
        display: inline-block;
        height: 2.5em;
        width: 78%;
        text-align: center;
        line-height: 220%;
    }

    #prodotti-frecciaPaginaPrecedente {
        display: inline-block;
        width: 5%;
        height: 2em;
        vertical-align: middle;
        background-image: url(images/leftArrow.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #prodotti-paginaPrecedente {
        display: inline-block;
        width: 20%;
        height: 2em;
        vertical-align: middle;
    }

    #prodotti-paginaNumeri{
        display: inline-block;
        width: 30%;
        height: 2em;
        vertical-align: middle;
    }

    .pagina_attiva
    {
        background-color: #295380;
        color: white;
	padding: 0.65em;
    }

    #prodotti-pageSelector li{
        list-style: none;
        display: inline;
	padding-left: 0.5em;
	padding-right: 0.5em;
    }

    #prodotti-pageSelector a{
        text-decoration: none;
    }

    #prodotti-paginaSuccessiva {
        display: inline-block;
        width: 20%;
        height: 2em;
        vertical-align: middle;
    }

    #prodotti-frecciaPaginaSuccessiva {
        display: inline-block;
        width: 5%;
        height: 2em;
        vertical-align: middle;
        background-image: url(images/rightArrow.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    #prodotti-resultInfoBar {
        display:block;
        padding-bottom: 0.5em;
        text-align: right;
        
    }

    #prodotti-searchSortBlock {
        display: inline-block;
        width: 77.61%;
        height: 2.5em;
        vertical-align: middle;
        line-height: 250%;
        text-align: right;
    }

    #prodotti-searchSortForm {
        padding-right: 0.5em;
        padding-bottom: 0.5em;
    }

    #prodotti-searchSortFormLabel {
        display: inline;
        padding-right: 0.3em;
    }

    #prodotti-searchSortFormSelect {
        display: inline;
    }
	
    .riga {
	width: 100%;
	height: 15em;
	padding: 0.3em;
	background-color: white;
    }


    .prodotto-singolo {
	display: inline-block;
	width: 25%;
	height: 13em;
	vertical-align: middle;
	background-color: #E1E3E4;
	padding: 1em;
	text-align: center;
	margin-right: 0.825em;
	margin-left: 0.825em;
	margin-top: 0.6em;
    }

    .prodotto-singolo ul {
	list-style-type: none;
    }

    .prodotto-singolo a {
        text-decoration: none;
    }

    .prodotto-singolo a:hover {
        text-decoration: underline;
    }

    .prodotto-singolo p {
	font-size: 200%;
	font-weight: bold;
    }
	
	
    .prodotto-singolo img {
	max-height: 7em;
	max-width: 100%;
     }


/*---------------------------------------- prodotto.html --------------------------------------------------------------------------------------*/
	
	#link_pagina_precedente{
		
	}
	
	#link_pagina_precedente a{
		text-decoration: none;
	}

	#link_pagina_precedente a:hover{
		text-decoration: underline;
	}
	
	#Prodotto_main_container{
		display: inline-block;
        vertical-align: middle;
        width: 100%;
		padding: 1em;
  		min-height: 55em;
	}
	
	#Presentazione_prodotto{
        vertical-align: middle;
        width: 100%;
        border-bottom: 1px solid;
		padding: 1em;
  	    height: 30em;		
	}
	
	#left_col{
		display: inline-block;
        vertical-align: middle;
  	    width: 35%;
 	    height: 20em;
	}
	
	#left_col img {
		max-height: 20em;
		max-width: auto;		
	}

	#middle_col{
		display: inline-block;
 		vertical-align: middle;
		width: 40%;
  	    height: 20em;
		background-color:#E1E3E4;
		padding: 0.5em;
  	    box-shadow: 1px 1px 1px 1px #888888;
	}

	#middle_col li {
		list-style:none;
		padding-bottom: 0.2em;
	}
	
	#right_col{
		display: inline-block;
   	    vertical-align: middle;
   	    width: 22%;
   	    height: 20em;
		background-color:#E1E3E4;
		padding: 0.5em;
		box-shadow: 1px 1px 1px 1px #888888;
		margin-left: 0.1em;
	}
	
	#right_col li {
		list-style:none;
		padding-bottom: 0.2em;
	}

	#right_col input[type=submit]{
		background-color:orange;
		border: none;
		padding: 0.5em;
		margin: 0.1em;
		cursor: pointer;
		box-shadow: 1px 1px 1px 1px #888888;
	}
	
	#Commenti_prodotto{
 	    vertical-align: middle;
     	width: 100%;
		padding: 1em;
      	min-height: 20em;		
	}

	#Commenti_prodotto li {
		list-style: none;
		padding-bottom: 0.2em;	
	}
	
	#commenti_prodotto h2 {
		color: white;
		background-color: #295380; 
	}	
	
	.recensione-prodotto {
		padding: 0.5em;
		background-color:#E1E3E4;
		margin-bottom: 0.5em;
  	    box-shadow: 1px 1px 1px 1px #888888; 
	}

	.recensione-prodotto h2 {
		color: white;
		background-color: #295380; 
	}	

	.recensione-prodotto input[type=submit]{
		background-color:#295380;
		color: white;
		border: none;
		padding: 0.3em;
		margin: 0.1em;
		cursor: pointer;
		box-shadow: 1px 1px 1px 1px #888888;
	}

	.recensione-prodotto span{
		color:white;
	}

	#recensioneTitolo-label {
		padding-right: 6.05em;
	}

	#recensioneNome-label {
		padding-right: 1em;
	}
   
    /*------------------------------- login.html --------------------------------------------------------------------------------------------------*/

    #login-container-mobile{
        display: none;
    }
    
    #login-container {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 5em;
        margin-top: 5em;
    }

    #login-container2 {
        width: 50%;
        box-shadow: 1px 1px 1px 1px #888888;  
        margin: 0 auto;
        height: 18.5em;
        background-color: #E1E3E4;
    }

    #login-container2 h2{
        padding-bottom: 1em;
        padding-top: 1em;
    }

    #login-Block{
        padding-top: 0.3em;
    }

    /*--------------------------- registrazione.html ----------------------------------------------------------------------------------------------*/

    #registrazione-container-mobile{
        display: none;
    }
    
    #registrazione-container{
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 5em;
        margin-top: 5em;
    }

    .form-container2{
        margin-top: 1em;
        width: 60%;
        margin: 0 auto;
        background-color: #E1E3E4;
        height: auto;
        box-shadow: 1px 1px 1px 1px #888888; 
        margin-bottom: 1em;
    }

    .form-container2 h2{
        padding-top: 1em;
    }

/*--------------------------- contattaci.html ----------------------------------------------------------------------------------------------------*/
    
    #contattaci-container-mobile{
        display: none;
    }
    
    #contattaci-container {
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 5em;
        margin-top: 5em;
    }

    #contattaci-container2 {
        width: 50%;
        box-shadow: 1px 1px 1px 1px #888888;
        margin: 0 auto;
        height: 38.5em;
        background-color: #E1E3E4;
    }

    #contattaci-container2 h2{
        padding-top: 1em;
        padding-bottom: 1em;
    }

    /*------------------- termini e spedizione/resi e rimborsi  -----------------------------------------------------------------------------------*/
    
    #resi_rimb_term_sped-h2{
        margin-top: 1em;
        text-align: center;
        padding-bottom: 1.5em;
        font-family: Georgia, serif;
    }
    
    #info-container
    {
        text-align: center;
        width: 45%;
        margin: auto;
    }

    #info-container h3
    {
        background-color: #295380;
        width: 100%;
        text-align: center;
        display: inline-block;
        margin-top: 1.5em;
        margin: auto;
        padding-bottom: 0.5em;
        padding-top: 0.5em;
        box-shadow: 1px 1px 1px 1px #888888;
        color: white;
    }

    .info-text
    {
        text-align: justify;
        padding: 1.5em;
        width: 100%;
        background-color:#E1E3E4; 
        display: inline-block;
        margin-bottom: 2em;
        box-shadow: 1px 1px 1px 1px #888888;
    }
     /*------------------- account  -----------------------------------------------------------------------------------*/
    #col
    {
        width: 100%;
        
    }
    #left-col
    {
		display: inline-block;
        vertical-align: middle;
        width: 24.5%;
        border-bottom: 1px solid;
        height: 55em;
    }
    #left-col li
    {
         list-style: none;
         
    }
    #left-col ul
    {
        padding-top: 2em;
        padding-left: 1em;
        padding-bottom: 1em;
        border-bottom: 1px solid;
        width: 100%;
    }
    
    #left-col a
    {
        text-decoration: none;
    }
    
    #right-col
    {
		display: inline-block;
        vertical-align: middle;
        width: 75.5%;
        border-bottom: 1px solid;
        border-left: 1px solid;
        height: 55em;
        overflow: scroll;
        padding-top: 2em;
    }
    #right-col li
    {
         list-style: none;
    }
    
    .title_link
    {
        font-weight: bold;
        font-size: 1.5em;        
    }
    
    
    .subtitle_link
    {
        opacity: 0.6;
    }

/*------------------------------------------------ gestione sito ----------------------------------------------------------------------------------*/

    .button-utente{
        display:  inline-block;
        margin-bottom: 2em;
        height: 2.5em;
        width: 12%;
        
    }
    
    .sub_menu_block{
        display: inline-block;
        height: 3em;
        width: 20%;
        text-align: center;
        border-right: 1px solid;
        border-bottom: 1px solid;
        background-color: #E1E3E4;
        border-top: 1px solid;
        border-color: black;
        vertical-align: middle;
        border-left: 1px solid;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    
    .sub_menu_block_active
    {
        display: inline-block;
        height: 3em;
        width: 20%;
        text-align: center;
        border-right: 1px solid;
        border-top: 1px solid;
        border-bottom: 1px solid;
        background-color: #295380;
        border-color: black;
        vertical-align: middle;
        padding-left: 0.5em;
        padding-right: 0.5em;
    }
    
    .sub_menu_text{
        display: inline-block;
        vertical-align: middle;
        margin-top: 0.5em;
    }
    .sub_menu_text_active
    {
        display: inline-block;
        vertical-align: middle;
        margin-top: 0.5em;
        color: white;
    }
    
    .gestione_textarea{
        width: 60%;
        height: 10em;
    }
    .gestione-inputMiddle{
        display: inline-block;
        vertical-align: middle;
        background-image: url(images/input_middle.png);
        width: 30%;
        background-size: contain;
        background-repeat: repeat-x;
    }
    
    
    #gestione-center{
        display:inline-block;
    }
    #gestione-textarea_block{
        padding-top: 2em;
    }
    
    #sub_menu{
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #indirizzo-ViaLabel{
        padding-right: 6.4em;
    
    }
    #indirizzo-NumLabel{
        padding-right: 1.5em;
        
    }
    #indirizzo-CittaLabel{
        padding-right: 5.9em;
        
    }
    #indirizzo-ProvinciaLabel{
        padding-right: 4.1em;
        
    }
    #indirizzo-CapLabel{
        padding-right: 6em;
        
    }
    #prodotto-categoriaLabel{
        padding-right: 4.7em;
    }
    #prodotto-codiceLabel{
        padding-right: 4.7em;
        
    }
    #prodotto-nomeLabel{
        padding-right: 4.9em;
        
    }
    #prodotto-descrizioneLabel{
        padding-left: 6.8em;
        padding-right: 2em;
    }
    #prodotto-categoriaricLabel{
        padding-right: 3em;
        
    }
    #prodotto-prezzoLabel{
        padding-right: 4.7em;
        
    }
    #prodotto-dataLabel{
        padding-right: 1.8em;
    }
    #prodotto-immagineLabel{
        padding-right: 2em;
        
    }
    .prodotto-tagLabel{
        padding-right: 5.8em;
        
    }
    #prodotto-cat{
        margin-bottom: 2em;
    }
    #prodotto-cod{
        padding-top: 1em;
    }
    #form-containerprodotto{
        margin-top: 1em;
        width: 80%;
        margin: 0 auto;
        background-color: #E1E3E4;
        height: auto;
        box-shadow: 1px 1px 1px 1px #888888; 
        margin-bottom: 1em;
        
    }
    #ordini-cerca{
       padding-bottom: 1em;    
    }
    .ordini-block{
        padding-bottom:1em; 
    }
    .annunci-testoLabel{
        padding-right: 19em;
    }
    .annunci-titoloLabel
    {
        padding-right: 7em;
    }
    .annunci-immagineLabel{
        padding-right: 13.5em;
    }
    #left-menu-active{
        background-color: #295380;
        vertical-align: middle;
        color: white;
        padding-right: 0.5em;
        
    }
    

/*-------------------------------------------------------------Generale----------------------------*/

#nome_utente
{
	padding-left:1em;
}

.messaggio-error{
    padding-top: 1em;
    color: #295380;
    padding-bottom: 1em;
}
    .messaggio-error li{
        list-style: none;
        padding-bottom: 1em;
        
    }
    #titolo{
        margin-top: 2em;
        margin-bottom: 1em;
    }
