*{
	padding:0em;
	margin:0em;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

input{
    overflow: hidden;
}

body
{
	max-width:1024px;
	margin:auto;
	font-size:100%;
	
}

#header
{
    text-align: center;
	background-color:#66b1ff;
	padding:0.5em;
 
}

#header a{
    text-decoration: none;
}

#header-logo
{
	background-image:url(images/logo.png);
	background-repeat:no-repeat;
    display: inline-block;
    width: 17.5%;
    height:6.9em;
}

#header h1
{
    display: inline-block;
    width: 79%;
    height: 2.7em;
    vertical-align: middle;
    color: aliceblue;
    
}

#menu
{
    padding:1em;
    height: 1em;
    background-color: #E1E3E4;
}

#path
{
    display: inline-block;
    height: 1em;
    width: 24%;   
    
}
#nav
{
    display: inline-block;
    height: 2em;
    width: 75%;
    text-align: right;
   
    
}
#nav li
{
    list-style: none;
    display: inline;
    padding-right: 1.5em;
    border-left:1px solid;
    padding-left:1em;
    text-align: center;
    
    
}
#nav a
{
    text-decoration: none;
}

.search-image
{
	background-image:url(images/ricerca.png);
	background-repeat:no-repeat;
	display: inline;
	padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    background-size: contain;
}

#torna-su
{
    text-align: center;
    padding-bottom:0.5em;
    padding-top: 0.5em;
    border-bottom: 2px solid;
    border-bottom-color: aliceblue;
    display: inline-block;
    width: 100%;
}

#torna-su a
{
   text-decoration: none; 
}

#footer
{
    background-color: #E1E3E4;
}

#footer-container
{
    padding-bottom: 1em;
    padding-left: 1em;
    padding-top: 0.5em;
    padding-right: 0.5em;
}

#footer-logo{
    display: inline-block;
    width: 76%;
    height: 6.5em;
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
}

.footer-block
{
    width: 23.1%;;
    display: inline-block;
    position: relative;
}

.footer-block li
{
    list-style: none;
    padding-bottom:0.5em;
    padding-top: 0.5em;
}

#email-input
{
    width: 82%;
    height: 2em;
    padding-left: 0.3em;
}

#email-button
{
    width: 13%;
    height: 2em;
    background-image:url(images/email.png);
	background-repeat:no-repeat;
    background-color: transparent;
    background-size: contain;
    border: none;
    position: absolute;
    left: 88%;
    top:10%;
}

#searchBar{
    
    width: 100%;
    height: 3em;
    
}

#searchContainer
{
    width: 100%;
    position: relative;
    text-align: right;
}

#commonSearchInput{
    width: 60%;
    height: 2.75em;
    font-size: 1em;
    padding-left: 0.4em;
    vertical-align: middle;
}

#commonSearchButton{
    width: 4%;
    height:3em;
    background-image: url(images/ricerca.png);
    background-size:contain;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    vertical-align: middle;
    position: absolute;
    right: 0.5%;
    bottom: 10%;
}



/*-------------------------------------- la_nostra_storia.html ------------------------------------------------------------------------------------*/

#la_nostra_storia_titolo
{
    margin-top: 1em;
    text-align: center;
    padding-bottom: 2em;
}

#linea-tempo li
{
    list-style: none;
    display: inline-block;
    padding-left: 1em;
    padding-right: 1em;
    transform:rotate(-20deg);
    border: 1px solid;
    text-decoration: none;
    background-color:#66b1ff;
    margin-left: 1em;
    margin-right: 1em;
    padding:0.5em;
   
}
#linea-tempo ul
{
    padding: 2em;
}

#linea-tempo
{
    display: inline-block;
    width: 99%;
    height: 2.7em;
    text-align: center;
}

#linea-tempo
{
    text-decoration: none;
}

#linea-tempo-testo
{
    display: block;
    text-align: center;
    margin-left: 17.5em;
    padding-top: 4em;
    padding-bottom: 2em;
    width: 45%;
    
    
}
#linea-tempo-testo li
{
    padding-bottom: 1em;
    margin-bottom: 1em;
    list-style: none;
    border: 1px solid;
    background-color: #E1E3E4;
    background-color:#66b1ff;
    
}
#linea-tempo a
{
    text-decoration: none;
}

#linea-tempo-testo h2
{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    margin-bottom: 1em;
    background-color: #E1E3E4;
    border-bottom: 1px solid;
}

#linea-tempo-testo p
{
    padding-left: 1em;
    padding-right: 1em;
}

#linea-tempo-testo a
{
    text-decoration: none;
}

.linea-tempo-su
{
    width: 25%;
    border: 1px solid;
    background-color: #E1E3E4;
    margin-bottom: 4em;
    display: inline-block;
    padding-top:0.5em;
    padding-bottom:0.5em;    
}

.linea-tempo-su a
{
    text-decoration: none;
}

/*---------------------------------------- prodotti.html ------------------------------------------------------------------------------------------*/

#prodotti-leftBlock{
    background-color: #cce5ff;
    display: inline-block;
    height: 25em;
    width: 20%;
    vertical-align: middle;
}

#prodotti-rightBlock{
    background-color: #E1E3E4;
    display: inline-block;
    width: 80.1%;
    height: 25em;
    vertical-align: middle;
    margin: -4px;
}

#prodotti-categorie{
    display: block;
    background-color: #cce5ff;
    height: 2em;
    text-align: center;
    line-height: 180%;
}

#prodotti-categorie li{
    display: inline;
    list-style: none;
    padding-left: 3.5em;
}

#prodotti-categorie a{
    text-decoration: none;
}

#prodotti-vetrina{
    background-color: crimson;
    height: 20em;
    width: 100%;
}

#prodotti-pageSelector{
    background-color: chartreuse;
    display: inline-block;
    height: 2.5em;
    width: 100%;
    text-align: center;
    line-height: 210%;
}

#prodotti-frecciaPaginaPrecedente {
    display: inline-block;
    width: 5%;
    height: 2em;
    vertical-align: middle;
    background-image: url(images/leftArrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#prodotti-paginaPrecedente {
    display: inline-block;
    width: 20%;
    height: 2em;
    vertical-align: middle;
}

#prodotti-paginaNumeri{
    display: inline-block;
    width: 30%;
    height: 2em;
    vertical-align: middle;
}

#prodotti-pageSelector li{
    list-style: none;
    display: inline;
    padding-left:1em;
}

#prodotti-pageSelector a{
    text-decoration: none;
}

#prodotti-paginaSuccessiva {
    display: inline-block;
    width: 20%;
    height: 2em;
    vertical-align: middle;
}

#prodotti-frecciaPaginaSuccessiva {
    display: inline-block;
    width: 5%;
    height: 2em;
    vertical-align: middle;
    background-image: url(images/rightArrow.png);
    background-repeat: no-repeat;
    background-size: contain;
}

#prodotti-resultInfoBar {
    background-color: aqua;
}

#prodotti-resultInfoBlock {
    display: inline-block;
    width: 22%;
    height: 2.5em;
    vertical-align: middle;
    line-height: 250%;
    text-align: center;
}

#prodotti-searchSortBlock {
    display: inline-block;
    width: 77.61%;
    height: 2.5em;
    vertical-align: middle;
    line-height: 250%;
    text-align: right;
}

#prodotti-searchSortForm {
    padding-right: 0.5em;
}

#prodotti-searchSortFormLabel {
    padding-right: 0.3em;
}

#prodotti-searchSortFormSelect {
    
}

/*------------------------------- login.html ---------------------------------------------------------------------------------------------------*/

#login-container {
    width: 100%;
    text-align: center;
    margin-bottom: 5em;
    margin-top: 5em;
}

#login-container2 {
    width: 50%;
    border: 1px solid;
    margin: 0 auto;
    height: 16em;
    background-color: #E1E3E4;
}

#login-container2 h2{
    padding-bottom: 1em;
    padding-top: 1em;
}

.login-block{
    height: 2.5em;
    width: 100%;
    padding-bottom: 1em;
}

#login-emailLabel{
    padding-right: 1.9em;
    
}

#login-passwordLabel{
    padding-right: 0.5em;
}

#login-email_inputleft{
    background-image: url(images/input_left.png);
    width: 3%;
    height: 2em;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    vertical-align: middle;
    margin-right: -11.2px;
}

#login-email_inputmiddle{
    background-image: url(images/input_middle.png);
    width: 40%;
    height: 2em;
    background-size: contain;
    background-repeat: repeat-x;
    display: inline-block;
    vertical-align: middle;
    margin-right: -3.8px;
}

#login-email_inputright{
    background-image:url(images/input_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2em;
    width: 3%;
    display: inline-block;
    vertical-align: middle;
}

#login-emailInput{
    width: 104%;
    background-color: transparent;
    border: none;
    line-height: 240%;
    height: 2.4em;
}

#login-password_inputleft{
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/input_left.png);
    width: 3%;
    height: 2em;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: -11px;
}

#login-password_inputmiddle{
    display: inline-block;
    vertical-align: middle;
    background-image: url(images/input_middle.png);
    width: 40%;
    height: 2em;
    background-size: contain;
    background-repeat: repeat-x;
    margin-right: -3.6px;
}

#login-password_inputright{
    display: inline-block;
    vertical-align: middle;
    background-image:url(images/input_right.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 2em;
    width: 3%;
}

#login-passwordInput {
    background-color: transparent;
    border: none;
    width: 104%;
    height: 2.4em;
    line-height: 240%;
}

#login-accediButton {
    height: 3em;
    width: 20%;
}